diffusers
accelerate
transformers
sentencepiece
protobuf
bitsandbytes
prodigyopt
opencv-python
beautifulsoup4
gradio
numpy<2.0
Pillow
matplotlib
tqdm
scikit-learn
datasets
openai
requests
ipython
openai-clip
